@model List<ProductReviewAuthentication.Models.ViewModels.ProductIndexViewModel>
@{
    Layout = "_DashBoardLayout";
}

<h1 class="text-center" style="color:blue">Your Reviews</h1>

<div class="card">
    <br />
    <div>
        <a class="btn font-weight-bold ml-4" asp-controller="Review" asp-action="Create" style="background-color:blue"> Oya Coman Add Review</a>
        <div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Comment</th>
                            <th>Ratings</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var review in Model)
                        {
                            <tr>
                                <td> @review.ProductName </td>
                                <td>@review.Comment</td>
                                <td>@review.Ratings </td>
                                <td>
                                    <a class="btn font-weight-bold" asp-action="Update" asp-route-id="@review.Id" style="background-color:blue">Update</a>
                                    <a class="btn font-weight-bold" asp-action="Delete" asp-route-id="@review.Id" style="border-color:blue">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>