@model IEnumerable<ProductReviewAuthentication.Models.ViewModels.ProductViewModel>
@{ ViewBag.Title = "Product Listing"; }
@{
    Layout = "_DashBoardLayout";
}

<h1 class="text-center" style="color:lightblue">Your Products</h1>

<div class="card">
    <div>
        <br />
        <a class="btn font-weight-bold ml-4" asp-controller="Product" asp-action="Create" style="background-color:lightblue">Add Product</a>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Average Rating</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td> @product.Name </td>
                            <td> @product.Description </td>
                            <td>@product.AverageRating</td>
                            <td>
                                <a class="btn font-weight-bold" asp-action="ReviewsPerProduct" asp-route-id="@product.Id" style="border-color:orbluechid">Reviews</a>
                                <a class="btn font-weight-bold" asp-action="Update" asp-route-id="@product.Id" style="border-color:blue">Update </a>
                                <a class="btn font-weight-bold" asp-action="Delete" asp-route-id="@product.Id" style="border-color:red">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
